<main>
<h1> Modification du commentaire </h1>


<%= form_for [@gossip, @comment] do |f| %>


  <div class="form-group">

  <div class="form-group">
    <label>Content</label>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
  <button type="submit" class="btn bouton-gossip">modifier le commentaire</button>
</div>

<% end %>
</main>