<h1>Comments#edit</h1>
<p>Find me in app/views/comments/edit.html.erb</p>

<h1> Edit comment </h1>


<%= form_for [@gossip, @comment] do |f| %>


  <div class="form-group">

  <div class="form-group">
    <label>Content</label>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group">
  <button type="submit" class="btn bouton-gossip">modifier le commentaire</button>
</div>

<% end %>