<br>
<br>
<br>
<br>
<br>
<br>
<h1>Gossip#new</h1>
<p>Find me in app/views/gossip/new.html.erb</p>

<form action= '<%= gossip_index_path %>' method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="title", value="title">
  <input type="text" name="content", value="content">
  <input type="submit" value="Valider">
</form>

<% if @gossip.errors.any? %>
  <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>