<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<h1>Users</h1>
<p>
  <a href="<%= new_user_path %>" class="btn btn-primary">Creer un profil</a>
</p>

<% @users.each do |user| %>
  <h2><%= user.first_name %></h2>
  <p><%= user.last_name %></p>
  <p><a href="<%= user_path(user.id) %>" class="btn btn-primary">Acceder au profil</a>
  <% end %>