<main>
<h1>Gossip#new</h1>
<p>Find me in app/views/gossip/new.html.erb</p>





<% if @gossip.errors.any? %>
<div class="alert alert-danger alert-form-false">
  <p>FDP, nous n'avons pas réussi à créer le potin pour la (ou les) putain de raison(s) suivante(s) :</p>
  <ul>
    <% @gossip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>