
<main>
<div class="team-background team-margin">
<div class="container marketing team-margin">

    <!-- Three columns of text below the carousel -->
    <div class="row justify-content-center">
    <div class="col-lg-4">
        <%= image_tag("photo_de_mon_double.png", class: "bd-placeholder-img rounded-circle", width: 240, height: 240) %>
        <h2 class="fw-normal">Alex</h2>
        <p>Heureuse propriétaire de Maïa le chat chat.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <%= image_tag("photo_de_moi.jpg", class: "bd-placeholder-img rounded-circle", width: 240, height: 240) %>
        <h2 class="fw-normal">Lexi</h2>
        <p>Heureuse propriétaire de 3 chatonnnns.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <%= image_tag("photo_de_winny.jpg", class: "bd-placeholder-img rounded-circle", width: 240, height: 240) %>
        <h2 class="fw-normal">Winny</h2>
        <p>Winny est sans chat, mais il est sympa quand même.</p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</main>