<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">


<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-fixed/">

<!-- Bootstrap core CSS -->
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

</head>



<header>

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Thirteenth navbar example">
<div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
    <a class="navbar-brand col-lg-3 me-0" href="#">The Gossip Project Winalexs</a>
    <ul class="navbar-nav col-lg-6 justify-content-lg-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Acceuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">La Team</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Gossips</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Tous les gossips</a></li>
          <li><a class="dropdown-item" href="#">Création de gossips</a></li>
        </ul>
      </li>
      <li class="nav-item">
      <a class="nav-link">Contact</a>
    </li>
    </ul>
    <div class="d-lg-flex col-lg-3 justify-content-lg-end">
      <button class="btn btn-primary">Button</button>
    </div>
  </div>
</div>
</nav>
</header>
<br>
<br>
<br>
<body>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row justify-content-center">
    <div class="col-lg-4">
        <%= image_tag("photo_de_mon_double.png", class: "bd-placeholder-img rounded-circle", width: 240, height: 240) %>
        <h2 class="fw-normal">Alex</h2>
        <p>Heureuse propriétaire de Maïa le chat chat.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <%= image_tag("photo_de_moi.jpg", class: "bd-placeholder-img rounded-circle", width: 240, height: 240) %>
        <h2 class="fw-normal">Lexi</h2>
        <p>Heureuse propriétaire de 3 chatonnnns.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <%= image_tag("photo_de_winny.jpg", class: "bd-placeholder-img rounded-circle", width: 240, height: 240) %>
        <h2 class="fw-normal">Winny</h2>
        <p>Winny est sans chat, mais il est sympa quand même.</p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

</html>