<br>
<br>
<br>
<br>
<br>

<h1> Bienvenue <%= @first_name %> !!! </h1>

    <div class="row">
    <% @gossip.each do |gossip| %>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
        <p class="card-text"><%= gossip.user.first_name %></p>
          <h5 class="card-title"><%= gossip.title %></h5>
          <%= link_to "Accéder au gossip", gossip_path(gossip.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
    </div>

