.nice-background {
    background-color: #232323;
    background-image: linear-gradient(90deg, #000000 0%, #3e0846 50%, #000000 100%);
    
}

.bgnavbar {
    background-color: #000000;
    background-image: linear-gradient(90deg, #000000 0%, #292929 50%, #000000 100%);
    
}

body {
    background: #56004800;
    color: aliceblue;
}

main {
    margin: 60px 0 0 0;
    background: #56004800;
}

.team-background {
    background-image: url('background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
}

.row-gossip {
    margin-left: 160px;
    margin-right: 0px;
    align-items: center;

}

.card {
    background-color: #9e99a1;
    background-image: linear-gradient(0deg, #232323 0%, #313030 100%);
    border: none;
    
    margin: 10px 5px;
    padding: 5px 5px;

}

.card-text {
    margin: 0 0 0 0;
}

.bggossip {
    background-color: #9e99a1;
    background-image: linear-gradient(0deg,  #313030 0%, #232323 100%);
    margin: 10px 5px;
    padding: 5px 3px 5px 10px;
}

.bouton-gossip {
    border-radius: 2px;
    background-color: #7a2585;
    color: white;
    margin: 3px 0 3px 0;
    padding: 2px 4px;
    display: flex;
    justify-content:end;
}

.team-margin {

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: none;
    text-align: center;


}

.alert-farm-false {
    margin: 0px 0px 25px 0px;
}

.col-md-6 {
    margin: 0 200px;
}

.bouton-contact {
    border-radius: 2px;
    background-color: #7a2585;
    color: white;
    margin: 3px 0 3px 0;
    padding: 5px 10px;

}